{% extends "crud-wizard::page" %}
{% block head %}
    <link href="{{ 'css/wizard.css'|asset(0,'crud-wizard') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/4.0.5/sweetalert2.css">
{% endblock %}

{% block content %}
    {% if not alert %}
        <div id="app">
            <app></app>
        </div>

    {% else %}
        <div class="alert alert-danger" role="alert">{{ alert }}</div>
    {% endif %}

{% endblock %}



{% block modals %}

<script>
    var table = "{{ table }}";
</script>

<script src="{{ 'js/wizard_build.js'|asset(0,'crud-wizard') }}"></script>
<script src="https://cdn.jsdelivr.net/sweetalert2/4.0.5/sweetalert2.min.js"></script>

{% endblock %}

{% block bc %}
    <ol class="breadcrumb">
        <li><a href="{{ route('wizard_index') }}">Models index</a></li>
        <li>Configure model "{{ model.name }}"</li>
    </ol>

{% endblock %}


