{% extends "crud-wizard::page" %}
{% block head %}
    <link href="{{ 'css/wizard.css'|asset(0,'crud-wizard') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if not alert %}
        <div id="app">
            <app></app>
        </div>

    {% else %}
        <div class="alert alert-danger" role="alert">{{ alert }}</div>
    {% endif %}

{% endblock %}



{% block modals %}
{#<script src="{{ 'js/vue/wizard.js'|asset(0,'crud-wizard') }}"></script>#}
<script>
    var table = "{{ table }}";
</script>
<script src="/vue/dist/build.js"></script>

{% endblock %}

{% block bc %}
    <ol class="breadcrumb">
        <li><a href="{{ route('wizard_index') }}">Models index</a></li>
        <li>Configure model "{{ model.name }}"</li>
    </ol>

{% endblock %}


